@font-face {
    font-family: 'spaceage';
    src: url('../../assets/spaceage.ttf');
  }
  
  .Home {
    width: 100%;
    height: 100vh;
    margin-top: -50px;
    text-align: center;
    background-image: url('../../assets/background-mobile.jpg');
    background-size: cover;
    background-position: 0% 50%;
  }

  .title-container {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .title-top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .title-stellar {
    font-family: 'spaceage';
    font-size: 50px;
    color: gold;
    margin: 0px;
  }
  
  .title-iv {
    font-family: 'spaceage';
    font-size: 20px;
    color: white;
    margin: 0;
  }
  
  .title-motto-container {
    width: 325px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-motto {
    font-family: 'ariel';  
    color: white;
  }
  
  
  
  @media(min-width: 1000px){
  
    .Home {
      background-image: url('../../assets/background.jpg');      
    }

    .title-stellar {
      font-size: 100px;
    }
  
    .title-iv {
      font-size: 40px;
    }
  
    .title-motto-container {
      width: 750px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }